@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Bold.eot");
  src: url("../fonts/subset-TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Bold.woff2") format("woff2"), url("../fonts/subset-TTNorms-Bold.woff") format("woff"), url("../fonts/subset-TTNorms-Bold.ttf") format("truetype"), url("../fonts/subset-TTNorms-Bold.svg#TTNorms-Bold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Regular.eot");
  src: url("../fonts/subset-TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Regular.woff2") format("woff2"), url("../fonts/subset-TTNorms-Regular.woff") format("woff"), url("../fonts/subset-TTNorms-Regular.ttf") format("truetype"), url("../fonts/subset-TTNorms-Regular.svg#TTNorms-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Norms";
  src: url("../fonts/subset-TTNorms-Medium.eot");
  src: url("../fonts/subset-TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-TTNorms-Medium.woff2") format("woff2"), url("../fonts/subset-TTNorms-Medium.woff") format("woff"), url("../fonts/subset-TTNorms-Medium.ttf") format("truetype"), url("../fonts/subset-TTNorms-Medium.svg#TTNorms-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  box-sizing: border-box;
  font-family: "TT Norms Pro", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.container {
  width: 1320px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.pre-head {
  background-color: gray;
  display: flex;
  background: url(../imgs/fone-1.svg);
  background-size: cover;
  flex-direction: column;
}

.head-menu {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.head-side_menu__menu {
  padding-top: 16px;
}

.head-side_menu__list {
  display: flex;
  justify-content: flex-end;
}

.h-s_m__list_items .link {
  margin-right: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}

.h-s_m__list_items:last-child {
  margin-right: 0px;
}

.head-side_menu__contacts {
  display: flex;
  align-items: center;
}

.link.h-s_m__contacts-items_lang {
  text-align: center;
  width: 29px;
  height: 24px;
  border-radius: 8px;
  margin-right: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.link.h-s_m__contacts-items_lang:hover {
  background: #EDEDF7;
  color: gray;
}

.link.h-s_m__contacts-items_lang:active {
  background: #F0145A;
  color: white;
}

.link.h-s_m__contacts-items {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #FFFFFF;
  margin-right: 10px;
}

.dot {
  margin-right: 10px;
}

.head__adress {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.head__fon-leter {
  background-image: url(../imgs/big-leter-fon.svg), url(../imgs/tiny-leters-fon.svg);
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}

.head__gradient {
  background: linear-gradient(180deg, rgba(50, 50, 100, 0) 16.67%, #323264 100%);
}

.big-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-area__text {
  padding-top: 243px;
  margin-bottom: 290px;
  font-weight: 500;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
}

.circle-button {
  margin-bottom: 20px;
}

.post-head {
  background-image: url(../imgs/fone-2.svg);
  background-size: cover;
  border-radius: 0px 0px 12px 12px;
}

.post-head__menu {
  display: flex;
  justify-content: center;
  margin-right: 113px;
}

.post-head__menu-list {
  width: 527px;
}

.post-head__menu-list-items {
  text-align: right;
  margin-right: 40px;
  margin-bottom: 20px;
}

.post-head__menu-list-item:last-child {
  margin-bottom: opx;
}

.post-head__menu-list-items .link {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
}

.post-head__menu-list-items .link:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F0145A;
}

.post-head__menu-line {
  content: "";
  border-right: 4px solid #B3B3BA;
  margin-right: 40px;
}

.post-head__discription-h {
  padding-top: 51px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.post-head__discription-parag {
  font-weight: 300;
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
}

.post-head__benefits-services {
  display: flex;
  align-items: center;
}

.link.benefits {
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #FFFFFF;
  opacity: 0.5;
}

.post-head__benefits-services {
  padding-top: 80px;
}

.post-head__benefits-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F0145A;
  margin-bottom: 80px;
}

.post-head__benefits-box {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.post-head__benefits-box__card {
  width: 30%;
  margin-right: 40px;
  height: 313px;
  margin-bottom: 58px;
}

.post-head__benefits-box__card:nth-child(3) {
  margin-right: 0px;
}

.post-head__benefits-box__card:last-child {
  margin-bottom: 100px;
}

.post-head__benefits-box__card-title {
  padding-top: 20px;
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
}

.post-head__benefits-box__card-descriotion {
  padding-top: 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

header {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 8px 2px 0px rgba(34, 60, 80, 0.21), 0px 16px 2px 0px rgba(34, 60, 80, 0.21);
}

.team-card {
  margin-top: 40px;
  display: flex;
  background: #F5F5FA;
  border-radius: 12px;
}

.link.description-team {
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.team-card__foto {
  width: 413px;
  height: 500px;
  margin-right: 40px;
}

.team-card__description-team-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #F0145A;
  margin-bottom: 20px;
}

.team-card__description {
  padding-top: 40px;
}

.team-card__description-team-name {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;
  margin-bottom: 5px;
}

.team-card__description-team-position {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  margin-top: 20px;
  margin-right: 14px;
  width: 16px;
  height: 16px;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0px;
}

.cases-fon {
  background-color: #F5F5FA;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 30px;
}

.cases__card {
  border: 1px solid white;
}
.cases__card:nth-child(2) {
  width: 32%;
}
.cases__card:nth-child(3) {
  border-right: 0px;
  border-radius: 0px 12px 0px 0px;
  width: 34%;
}
.cases__card:nth-child(5) {
  width: 24%;
}
.cases__card:nth-child(5) .cases__card-title {
  padding-top: 49px;
}
.cases__card:nth-child(6) {
  width: 34%;
}
.cases__card:nth-child(7) {
  width: 40%;
  border-right: none;
}
.cases__card:hover {
  background: #EDEDF7;
}

.cases__card:hover ~ .cases__card.cases-description {
  display: block;
}

.first-card:hover ~ .cases__card.cases-description {
  display: block;
}

.first-card__top + div:hover {
  background: #EDEDF7;
}

.first-card {
  width: 33%;
}

.first-card__top {
  text-decoration: none;
  border-bottom: 1px solid white;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-radius: 12px 0px 0px 0px;
  padding: 20px 280px 20px 20px;
}

.link.first-card__top-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
}

.cases__card-title-first {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #686887;
  padding: 48px 20px 20px 20px;
}

.cases__card-name {
  padding: 0px 20px 20px 20px;
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
}

.cases__card-title {
  padding: 105px 20px 20px 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #686887;
}

.cases__card.cases-description {
  display: none;
  background: #EDEDF7;
}

.cases-description-text {
  padding: 40px 227px;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.container_big {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trust-us__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trust-us__title-text {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  color: #323264;
}

.trust-us__cards-items {
  width: 360px;
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
}
.trust-us__cards-items:nth-child(1) {
  background-color: #1C4280;
  background-image: url(../imgs/trust-logo-01.svg);
}
.trust-us__cards-items:nth-child(2) {
  background-color: #143646;
  background-image: url(../imgs/trust-logo-02.svg);
}
.trust-us__cards-items:nth-child(3) {
  background-color: #F48B30;
  background-image: url(../imgs/trust-logo-03.svg);
}
.trust-us__cards-items:nth-child(4) {
  background-color: #9E4DC3;
  background-image: url(../imgs/trust-logo-04.svg);
}
.trust-us__cards-items:nth-child(5) {
  background-color: #FD9339;
  background-image: url(../imgs/trust-logo-05.svg);
}
.trust-us__cards-items:nth-child(6) {
  background-color: #E2E2E4;
  background-image: url(../imgs/trust-logo-06.svg);
}
.trust-us__cards-items:nth-child(7) {
  background-color: #C71C36;
  background-image: url(../imgs/trust-logo-07.svg);
}
.trust-us__cards-items:nth-child(8) {
  background-color: #DCF3F9;
  background-image: url(../imgs/trust-logo-08.svg);
}
.trust-us__cards-items:nth-child(9) {
  background-color: #EAEAEA;
  background-image: url(../imgs/trust-logo-09.svg);
}
.trust-us__cards-items:nth-child(10) {
  background-color: #282240;
  background-image: url(../imgs/trust-logo-10.svg);
}
.trust-us__cards-items:nth-child(11) {
  background-color: #1D4568;
  background-image: url(../imgs/trust-logo-11.svg);
}
.trust-us__cards-items:nth-child(12) {
  background-color: #000000;
  background-image: url(../imgs/trust-logo-12.svg);
}

.talks {
  background-color: #F5F5FA;
}

/*# sourceMappingURL=style.css.map */
